pymediainfo==6.0.1
sox==1.4.1

# vs-iew
git+https://github.com/Irrational-Encoding-Wizardry/lvsfunc@83be576606f934eff979705b497a0ddea74eabd2
git+https://github.com/Irrational-Encoding-Wizardry/muxtools@9a688a8f9ff0adb4beb4f7258ca32a355d7f5e93
git+https://github.com/Irrational-Encoding-Wizardry/vs-aa@5ef4cdba39631ad8601747907a9a646b8b0bd1bd
git+https://github.com/Irrational-Encoding-Wizardry/vs-deband@6c425949d6fbce3c88e55cdf22823253ef74ed4d
git+https://github.com/Irrational-Encoding-Wizardry/vs-dehalo@197ed286fbe800e762ecf51d040d8c434c204384
git+https://github.com/Irrational-Encoding-Wizardry/vs-denoise@a54089207a5a42cabbc6eebc1c3d753f31faf995
git+https://github.com/Irrational-Encoding-Wizardry/vs-kernels@531de9b9bf58d66727a332c8a960f2bddf1d0fe8
git+https://github.com/Irrational-Encoding-Wizardry/vs-masktools@6d84c00485d6c7b07ecb50d1b81f0edd33fd2f03
git+https://github.com/Irrational-Encoding-Wizardry/vs-muxtools@17ba4389d39dc1d36527300b81be3ec5f79e04b0
git+https://github.com/Irrational-Encoding-Wizardry/vs-preview@a2c05b2a2851df6e1bfb517f00d46d1090c86e08
git+https://github.com/Irrational-Encoding-Wizardry/vs-rgtools@81da5f79c58d3802ba80ac49bb517f3529bba111
git+https://github.com/Irrational-Encoding-Wizardry/vs-scale@44c539e3a0eac9c256f7cb01a4a5d235a0669dce
git+https://github.com/Irrational-Encoding-Wizardry/vs-source@a254846ba213d23c20c4dd9bfa5505f6ea441f30
git+https://github.com/Irrational-Encoding-Wizardry/vs-tools@025932e7f407acf1ef0084faf7dc078d5edeb2ae

# funcs
git+https://github.com/dnjulek/jvsfunc@0200b4fe464557fb62ea1abdc04e6851b683bf2e
git+https://github.com/OpusGang/awsmfunc@0bdcb2d2f149676819471fbeaa606731ab2d833c
git+https://github.com/Vodes/vodesfunc@55815ee7e1da707db88bdd453bd959dadb2bb018

# scripts
git+https://github.com/Infiziert90/getnative@fd8c73746645bf80e1171ec458c1bde66696724f
git+https://github.com/Funami580/Myaamori-Aegisub-Scripts@98f629a23837d3fb8de1aeddea3541d8d13be614#subdirectory=scripts/fontvalidator

# depencenies of vspreview plugins
scipy==1.11.2
